<a href="https://colab.research.google.com/github/bayuyap/Tugas3_RekomendasiMobil/blob/main/RekomendasiMobil.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Import Library Yang diperlukan**

In [ ]:
import pandas as pd
import math
from decimal import Decimal
import copy


### **Import Excel FIle Untuk Pengujian**

In [ ]:
data_mobil = pd.read_excel("mobil.xls")
pd.set_option('display.max_rows', None)
data_mobil

              Nama Mobil  Ukuran  ...  Kecepatan  Harga (Ratus Juta)
0            Toyota Agya       4  ...          6                1.00
1          Daihatsu Alya       4  ...          6                1.10
2          Toyota Avanza       6  ...          6                2.00
3         Daihatsu Xenia       6  ...          6                1.75
4                Xpander       7  ...          7                2.25
5                 Livina       7  ...          7                2.10
6                Karimun       3  ...          5                1.20
7          Toyota Innova       8  ...          7                4.00
8                Alphard       9  ...          8               10.00
9            Toyota Vios       5  ...          8                2.50
10            Honda City       5  ...          8                2.70
11          Toyota Hiace      10  ...          6                5.00
12       Toyota Fortuner       9  ...          8                5.00
13           Toyota Foxy       9  ...          7                5.50
14  Toyota Corolla Altis       5  ...          9                6.00
15         Suzuki Ertiga       7  ...          7                2.30
16          Suzuki Carry       7  ...          5                0.80

[17 rows x 6 columns]


### **Deskripsi data secara statistik**

In [ ]:
data_mobil.describe().T

                    count      mean       std  min   25%  50%  75%   max
Ukuran               17.0  6.529412  2.034627  3.0  5.00  7.0  8.0  10.0
Kenyamanan           17.0  6.352941  2.234423  3.0  4.00  7.0  8.0  10.0
Irit                 17.0  6.941176  1.784327  4.0  6.00  7.0  9.0  10.0
Kecepatan            17.0  6.823529  1.131111  5.0  6.00  7.0  8.0   9.0
Harga (Ratus Juta)   17.0  3.247059  2.406597  0.8  1.75  2.3  5.0  10.0

## **Prapemrosesan Data**


### **Perhitungan Ukuran Jarak dengan Rumus**

#### **Rumus Euclidean**

In [ ]:
def eq_euclidean(penilaian, data_uji):
  ukuran_jarak = 0
  for index in range(len(data_uji)):
    ukuran_jarak += pow(penilaian[index] - data_uji[index] , 2)
  return math.sqrt(ukuran_jarak)

#### **Rumus Minkowski**

In [ ]:
def nth_root(value, n_root):
  nilai_root = 1/float(n_root)
  return round(value ** nilai_root,2)
def eq_minkowski(penilaian, data_uji, nilai_p):
  ukuran_jarak = 0
  for index in range(len(data_uji)):
    ukuran_jarak += nth_root(pow(abs(penilaian[index] - data_uji[index]),nilai_p),nilai_p)
  return ukuran_jarak

#### **Rumus Supremum**

In [ ]:
def eq_supremum(penilaian, data_uji):
  ukuran_jarak = []
  for i in range(len(data_uji)):
    ukuran_jarak.append(abs(penilaian[i] - data_uji[i]))
  return max(ukuran_jarak)

#### **Rumus Manhattan**

In [ ]:
def eq_manhattan(penilaian, data_uji):
  ukuran_jarak = 0
  for index in range(len(data_uji)):
    ukuran_jarak += abs(penilaian[index] - data_uji[index])
  return ukuran_jarak

#### **Mengambil ukuran jarak data menggunakan semua rumus untuk pengujian pencarian jarak data**

In [ ]:
def get_ukuran_jarak(data, data_uji):
  euclidean_distance = list()
  manhattan_distance = list()
  supremum_distance = list()
  minkowski_distance = list()
  
  data_mobil2 = data.drop(columns=['Nama Mobil'])
  list_data = (data.copy()).values.tolist()
  
  for i in range(len(data)):
    data_temp = data_mobil2.iloc[i].tolist()
    euclidean_distance.append([list_data[i][0], eq_euclidean(data_uji, data_temp)])
    manhattan_distance.append([list_data[i][0], eq_manhattan(data_uji, data_temp)])
    supremum_distance.append([list_data[i][0], eq_supremum(data_uji, data_temp)]),
    minkowski_distance.append([list_data[i][0], eq_minkowski(data_uji, data_temp, 2)])

  return euclidean_distance, manhattan_distance, supremum_distance, minkowski_distance

#### **Fungsi pencarian 3 besar data terbaik berdasarkan pengujian**

In [ ]:
def choose_big_3(euclidean_distance, manhattan_distance, supremum_distance, minkowski_distance):
  
  euclidean_distance.sort()
  manhattan_distance.sort()
  supremum_distance.sort()
  minkowski_distance.sort()

  return euclidean_distance[:3], manhattan_distance[:3], supremum_distance[:3], minkowski_distance[:3]

## **Program Utama**

#### **Membuat input agar pengujian dapat dilakukan**

In [ ]:
ukuran = int(input("Masukan Ukuran Mobil Yang Anda Inginkan		: "))
kenyamanan = int(input("Masukan Tingkat Kenyamanan Yang Anda Inginkan	: "))
bahan_bakar = int(input("Masukan Tingkat Keiritan Bahan Bakar		: "))
kecepatan = float(input("Masukan Maksimum Kecepatan Yang Anda Inginkan	: "))
harga = float(input("Masukkan Harga Yang Anda Inginkan		: "))

data_uji = [ukuran, kenyamanan, bahan_bakar, kecepatan, harga]

Masukan Ukuran Mobil Yang Anda Inginkan		: 1
Masukan Tingkat Kenyamanan Yang Anda Inginkan	: 4
Masukan Tingkat Keiritan Bahan Bakar		: 10
Masukan Maksimum Kecepatan Yang Anda Inginkan	: 10
Masukkan Harga Yang Anda Inginkan		: 1

#### **Mengambil hasil inputan dan mencari 3 terbaik dari input user**

In [ ]:
euclidean_distance, manhattan_distance, supremum_distance, minkowski_distance = get_ukuran_jarak(data_mobil, data_uji)
big3_euclidean, big3_manhattan, big3_supremum, big3_minkowski = choose_big_3(euclidean_distance, manhattan_distance, supremum_distance, minkowski_distance)
print("Hasil Akhir : ")
hasil_euclidean = pd.DataFrame(big3_euclidean, columns=['Mobil', 'Hasil Rumus Euclidean'])
hasil_manhattan = pd.DataFrame(big3_manhattan, columns=['Mobil', 'Hasil Rumus Manhattan'])
hasil_minkowski = pd.DataFrame(big3_minkowski, columns=['Mobil', 'Hasil Rumus Minkowski'])
hasil_supremum = pd.DataFrame(big3_supremum, columns=['Mobil', 'Hasil Rumus Supremum'])
print("Euclidean : \n",hasil_euclidean, "\nManhattan : \n",hasil_manhattan, "\nSupremum  : \n", hasil_supremum , "\nMinkowski : \n", hasil_minkowski)

Hasil Akhir :
Euclidean :
             Mobil  Hasil Rumus Euclidean
0         Alphard              14.866069
1   Daihatsu Alya               5.197115
2  Daihatsu Xenia               7.586995
Manhattan :
             Mobil  Hasil Rumus Manhattan
0         Alphard                  31.00
1   Daihatsu Alya                   9.10
2  Daihatsu Xenia                  13.75
Supremum  :
             Mobil  Hasil Rumus Supremum
0         Alphard                   9.0
1   Daihatsu Alya                   4.0
2  Daihatsu Xenia                   5.0
Minkowski :
             Mobil  Hasil Rumus Minkowski
0         Alphard                  31.00
1   Daihatsu Alya                   9.10
2  Daihatsu Xenia                  13.75

#### **Hasil Akhir Untuk Rumus Minkowski**

In [ ]:
hasil_akhir = pd.DataFrame(big3_minkowski, columns=['Mobil', 'Hasil Rumus Minkowski'])
hasil_akhir

            Mobil  Hasil Rumus Minkowski
0         Alphard                  31.00
1   Daihatsu Alya                   9.10
2  Daihatsu Xenia                  13.75

#### **Hasil Akhir disimpan dalam bentuk file excel**

In [ ]:
file_path = 'rekomendasi.xlsx'
    
hasil_akhir.to_excel(file_path, index=False)